<div class="user-menu">
    <img
        id="user-avatar"
        class="user-avatar"
        src="assets/profile/avatar0.png"
        alt="User Profile"
    />

    <div
        id="user-dropdown"
        class="user-dropdown"
    >
        <a
            href="#/admin-dashboard"
            class="admin-dashboard-ref"
        >
            Admin Page
        </a>
        <a href="#/profiles">Go to Profiles</a>
        <a href="#/edit-user">Edit User Account</a>
        <button
            id="logout-btn"
            class="logout-btn"
        >
            <i class="bi bi-box-arrow-right logout-icon"></i>
            Logout
        </button>
    </div>
</div>
