<header class="header">
    <h1 class="logo">StreaMax</h1>

    <button class="menu-toggle">☰</button>

    <nav class="nav">
        <a
            href="#home"
            data-page="home"
            class="nav-link active"
            >Home</a
        >
        <a
            href="#movies"
            data-page="movies"
            class="nav-link"
            >Movies</a
        >
        <a
            href="#series"
            data-page="series"
            class="nav-link"
            >Series</a
        >
        <a
            href="#genres"
            data-page="genres"
            class="nav-link"
            >Genres</a
        >
        <a
            href="#mylist"
            data-page="myStreaMax"
            class="nav-link"
            >My StreaMax</a
        >
        <a
            href="#search"
            data-page="search"
            class="nav-link"
            >Search</a
        >
    </nav>
    <div class="user-menu">
        <img
            src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
            alt="User Profile"
            class="user-avatar"
        />
    </div>

    <script src="./header.js"></script>
</header>
